* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #23210F;
  color: #F5F5DC;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3B371B;
}

header h1 {
  color: #F5F5DC;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.signup-btn, .help-btn {
  background-color: #FBC12A;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  color: #3B371B;
  border-radius: 5px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-left: 10px;
}

main {
  margin-top: 30px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h2 {
  margin: 20px 0;
  font-size: 24px;
}

.login-form {
  background-color: #3B371B;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #23210F;
  color: #F5F5DC;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #FBC12A;
  border: none;
  color: #3B371B;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #F5F5DC;
  text-decoration: none;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #F5F5DC;
  text-decoration: none;
  font-size: 14px;
}

.signup-link a:hover {
  text-decoration: underline;
}


/* Modal background */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  background-color: #3B371B;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  color: #F5F5DC;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #fff;
}

/* Form styling inside modal */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
  text-align: left;
}

.modal-content input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background-color: #23210F;
  border: none;
  border-radius: 5px;
  color: #F5F5DC;
}

.clearfix {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn, .signup-btn {
  background-color: #FBC12A;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #3B371B;
  font-weight: bold;
}

.cancel-btn:hover, .signup-btn:hover {
  background-color: #E5A41A;
}

